body{
    margin:0;
    background:#204080;
    font-family:Arial;
}

.window{
    position:absolute;
    width:300px;
    background:white;
    border-radius:10px;
}

.title{
    background:#222;
    color:white;
    padding:10px;
    cursor:move;
}

.content{
    padding:15px;
}

#about{
    left:50px;
    top:50px;
}

#notes{
    left:400px;
    top:100px;
}
